@use "./variables";

.aboutMe {
    width: 100%;
    background-color: variables.$secondaryBg;
    padding: 50px 0 ;

    h2 {
        padding: 50px 0 100px;
        
    }

    .box {
        transform: translateX(-100%);
        transition: transform 0.9s ease;
    }

    .box:nth-child(even) {
        transform: translateX(200%);
    }

    .box.show {
        transform: translateX(0);
    }

    .aboutTxtContainer {
        display: flex;
        p:first-child {
            border-top: 3px solid variables.$tertinary;
            width: 15%;
            margin: 15px 15px 0 0;
        }          
    }

    span {
        color: variables.$tertinary;
    }
}