@use "./variables";

.contactMe {
    width: 100%;
    background-color: variables.$secondaryBg;
    padding: 100px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contactHrContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
        text-align: center;
         }

         p {
            width: 35%;
            border-bottom: 3px solid variables.$tertinary;
         }
    }

    .contactInfo {
        margin: 100px auto;
        background-color: variables.$primaryBg;
        
        padding: 0;
        a {
            color: variables.$tertinary;  
            font-size: 1.5rem;
            padding: 20px;
            transition: all 0.5s ease;
            i {
                font-size: 1.5rem;
                padding: 20px;
            }

            &:hover, 
            &:focus {
                color: variables.$primaryBg;
                background-color: variables.$navFontColor;               
            }
        }

        
    }
    
    
}