@use "./variables";



.collapsibleMenu {
    background-color: variables.$navBgcolor;
    width: 100%;
    position: fixed;
    z-index: 9;
    
    .menu {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.logo {
        img {
            width:60px;
        }
    } 

.flexNav {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        margin-right: 30px;

        a {
            color: variables.$navFontColor;
            padding: 5px;
            font-size: 1.33rem;
            transition: all 0.3s ease;

            &:hover, 
            &:focus {
                color: variables.$fontColor;
           }
        }                              
    }
}
    