@use "./variables";



.collapsibleMenu {
    background-color: variables.$navBgcolor;
    width: 100%;
    position: fixed;
    z-index: 9;
    .menu {
        display: flex;
        justify-content: center;
        
        .flexNav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    }
}

.flexNav {
    margin: 20px 0;
    li {
        margin-right: 30px;

        a {
            color: variables.$navFontColor;
            padding: 5px;
            font-size: 1.5rem;

            &:hover, 
            &:focus {
                color: variables.$fontColor;
                transition: all 0.2s ease;
           }
        }                              
    }
}
    