@use "./variables";

.portfolio {
    width: 100%;
    background: variables.$secondaryBg;
    h2 {
        padding: 100px 0 50px;
    }


    // NEW PORTFOLIO
    .portfolioContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        .projectContainer {
            background-position: center;
            background-size: cover;
            width: calc(33% - 50px);
            // min-width: 300px;
            height: auto;
            margin: 25px auto 0;
            // transition: all 0.3 ease;
            cursor: pointer;
            .details {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                background-color: #31333bda;
                transition: all 0.3s ease;
                h4 {
                    text-align: center;
                    color: variables.$tertinary;
                    font-size: 1.3rem;
                    font-weight: 800;
                    padding: 50px 30px 15px;
                }
                p {
                    font-size: 1rem;
                    // color: #000;
                    font-weight: 800;
                    padding: 15px 30px;
                }
                button {
                    text-align: center;
                    color: variables.$primaryBg;
                    background-color: variables.$tertinary;
                    padding: 8px 20px;
                    transition: all 0.4s ease;
                    margin: 50px auto;
                    border: none;
                    cursor: pointer;

                    &:hover,
                    &:focus {
                        color: variables.$tertinary;
                        background-color: variables.$primaryBg;
                    }
                }
                
            }
            &:hover .details {
                opacity: 1;
                transition: all 0.3s ease;
            }
        }

        .projectContainerWorldCuisine {
            background-image: url("../../../assets/portfolioImg/worldCuisineSmall.webp");
        }

        .projectContainerOntarioWeather {
            background-image: url("../../../assets/portfolioImg/ontarioWeather.webp");
        }

        .projectContainerMes {
            background-image: url("../../../assets/portfolioImg/mesImg.webp");
        }

        .projectContainerWhatDoYouNo {
            background-image: url("../../../assets/portfolioImg/WhatDoYouNo.webp");
        }

        .projectContainerInteriorD {
            background-image: url("../../../assets/portfolioImg/interiorDesign.webp");
        }

        .projectContainerTravelsWithDrea {
            background-image: url("../../../assets/portfolioImg/Screenshot\ 2024-04-26\ 163703.webp");
        }

        
    }
    
    .projectContainerOdd,
    .projectContainerEven {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // outline: 2px solid red;
        padding: 50px 0 150px;
    }
    .projectOdd .projectImgContainer {
        margin-right: 2%;
    }

    .projectImgContainer {
        width: 52%;
        img {
            width: 100%;
        }
    }

    .projectTxtContainer {
        width: 43%;
        // outline: 2px solid red;
        h3 {
            font-size: 1.5rem;
            padding-bottom: 20px;

        }
        h5 {
            font-size: 1.2rem;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        p {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        a {
            color: variables.$primaryBg;
            background-color: variables.$tertinary;
            padding: 5px 30px 5px 5px;
            margin-right: 20px;
            transition: all 0.4s ease;
            

            i {
                padding-left: 25px;
                padding-right: 5px;
            }
            &:first-child {
                padding-left: 30px;
            }

            &:hover, 
            &:focus {
                color: variables.$tertinary;
                background-color: variables.$primaryBg;
            }
        }

        a.buttonDisabled {
        color: variables.$tertinary;
        background-color: variables.$primaryBg;
        }
    
        a.buttonDisabled:hover, 
        a.buttonDisabled:focus {
            cursor: not-allowed;
        }

        .madeWith {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                padding-bottom: 20px;
                i {
                    font-size: 1.5rem;
                    margin-right: 20px;
                    transition: all 0.3s ease;
                    &:hover, 
                    &:focus {
                        color: variables.$navFontColor;
                    }
                }
                .angularIcon {
                    color: variables.$angularColor;
                }
            }
    }
}