@use "./variables";

.portfolio {
    width: 100%;
    background: variables.$secondaryBg;
    padding-bottom: 50px;
    h2 {
        padding: 100px 0 50px;
    }


    // NEW PORTFOLIO
    .portfolioContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        height: 940px;
        overflow: hidden;
        position: relative;
        transition:  0.3s ease;
        padding-bottom: 130px;

        .projectContainerWorldCuisine {
            background-image: url("../../../assets/portfolioImg/worldCuisineSmall.webp");
        }

         .projectContainerIzoDecorGlass {
            background-image: url("../../../assets/portfolioImg/izoDecorGlass.webp");
        }

        .projectContainerUrosMilos {
        background-image: url("../../../assets/portfolioImg/urosMilos.webp");
        }
        .projectContainerKursNordijskogHodanja {
            background-image: url("../../../assets/portfolioImg/kurs-nordijskog-hodanja.webp");
        }

        .projectContainerWebHubStudio {
            background-image: url("../../../assets/portfolioImg/WebHubStudio.webp");
        }

        .projectContainerOntarioWeather {
            background-image: url("../../../assets/portfolioImg/ontarioWeather.webp");
        }

        .projectContainerMes {
            background-image: url("../../../assets/portfolioImg/mesImg.webp");
        }

        .projectContainerWhatDoYouNo {
            background-image: url("../../../assets/portfolioImg/WhatDoYouNo.webp");
        }

        .projectContainerInteriorD {
            background-image: url("../../../assets/portfolioImg/interiorDesign.webp");
        }

        .projectContainerTravelsWithDrea {
            background-image: url("../../../assets/portfolioImg/Screenshot\ 2024-04-26\ 163703.webp");
        }

         .projectContainerCoaching {
            background-image: url("../../../assets/portfolioImg/coachingImg.webp");
        }

        .projectContainerLifco {
            background-image: url("../../../assets/portfolioImg/lifco.webp");
        }

        .projectContainerLifco3DViewer {
            background-image: url("../../../assets/portfolioImg/3DViewer.webp");
        }

        .projectContainerCocktails {
            background-image: url("../../../assets/portfolioImg/Cocktails.webp");
        } 
        .seeMoreProjectsBtn {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            color: variables.$primaryBg;
            background-color: variables.$tertinary;
            padding: 8px 20px;
            margin: 25px auto;
            border: none;
            cursor: pointer;
            z-index: 1;
            &:hover,
            &:focus {
                color: variables.$tertinary;
                background-color: variables.$primaryBg;
            }
        }
        &::after {
            position: absolute;
            content: "";
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 100%;
            height: 120px;
            background: variables.$secondaryBg;
        }
    }   
    .showAllProjects {
        height: auto!important;
        transition: 0.3s ease;
    }
}

.projectContainer {
    background-position: center;
    background-size: cover;
    width: calc(430px - 50px);
    // min-width: 300px;
    height: 380px;
    margin: 25px auto 0;
    // transition: all 0.3 ease;
    cursor: pointer;
    position: relative;

    .details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background-color: #31333bda;
        transition: all 0.3s ease;

        h4 {
            text-align: center;
            color: variables.$tertinary;
            font-size: 1.3rem;
            font-weight: 800;
            padding: 50px 30px 15px;
        }

        p {
            font-size: 1rem;
            // color: #000;
            font-weight: 800;
            padding: 15px 30px;
        }

        h5 {
            font-size: 1.2rem;
            margin: 10px;
        }

        .madeWith {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 15px;

            i {
                font-size: 1.3rem;
            }
        }

        button {
            text-align: center;
            color: variables.$primaryBg;
            background-color: variables.$tertinary;
            padding: 8px 20px;
            transition: all 0.4s ease;
            margin: 25px auto;
            border: none;
            cursor: pointer;
            display: none;

            &:hover,
            &:focus {
                color: variables.$tertinary;
                background-color: variables.$primaryBg;
            }
        }

    }

    &:hover .details {
        opacity: 1;
        transition: all 0.3s ease;
    }

    &:hover .seeMoreBtn {
        display: unset;
    }
}