@use "./variables";

.mySkills {
    width: 100%;
    background-color: variables.$primaryBg;
    .skillsEl {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        h2 {
            padding: 50px 0 100px;
        }
        .rowOne {
            width: 100%;
            padding-bottom: 50px;
            .skillsRowOne{
                display: flex;
                justify-content: space-between;
            }
            .skillsRowTwo {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .boxEl {
        background-color: variables.$secondaryBg;
        width: 140px;
        min-width:140px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        padding: 40px 30px;
        margin: 15px 5px;
        transition: all 0.9s ease;
        cursor: pointer;
        transform: rotateY(90deg);
        transition: transform 0.2s ease;
        
        &:hover,
        &:focus {
            background-color: variables.$tertinary;
            color: variables.$primaryBg;
            .fa-react {
            color: variables.$primaryBg;
        }
        }
        i {
            font-size: 2rem;
            padding-bottom: 25px;
        }
        p {
            font-size: 0.7rem;
        }
    }
    .showBoxEl {
        transform: rotateY(0deg);
    }
    .htmlSkill {
        i {
            color: variables.$htmlColor;
        }
    }
    .cssSkill {
        transition-delay: 0.2s;
        i {
            color: variables.$cssColor;
        }
    }
    .sassSkill {
        transition-delay: 0.3s;
        i {
            color: variables.$sassColor;
        }
    }
    .bootstrapSkill {
        transition-delay: 0.4s;
        i {
            color: variables.$bootstraoColor;
        }
    }
    .jsSkill {
        transition-delay: 0.5s;
        i {
            color: variables.$jsColor;
        }
    }
    .reactSkill {
        transition-delay: 0.6s;
        i {
            color: variables.$reactColor;
        }
    }

    .angularSkill {
        transition-delay: 0.7s;
        i {
            color: variables.$angularColor;
        }
    }

    .typeScriptSkill {
        transition-delay: 0.8s;
        i {
            color: variables.$angularColor;
        }
    }
    .jquerySkill {
        transition-delay: 0.1s;
        i {
            color: variables.$cssColor;
        }
    }
    .dotNetSkill {
        transition-delay: 0.2s;
        i {
            color: variables.$cssColor;
        }
    }
    
    .cSkill {
        transition-delay: 0.3s;
        i {
            color: variables.$cssColor;
        }
    }

     .wordpressSkill {
         transition-delay: 0.4s;

         i {
             color: variables.$wordpressColor;
         }
     }
    .gitSkill {
        transition-delay: 0.5s;
        i {
            color: variables.$gitColor;
        }
    }

    .firebase {
        transition-delay:0.6s;
        i {
            color: variables.$gitColor;
        }
    }
    .mobile {
        transition-delay: 0.7s;
        text-align: center;       
    }

    .accessibility {
        transition-delay: 0.8s;
        text-align: center;       
    }

   
} 