@use "./variables";

.mySkills {
    width: 100%;
    background-color: variables.$primaryBg;
    .skillsEl {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        h2 {
            padding: 50px 0 100px;
        }
        .rowOne {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 50px;
        }
    }
    .boxEl {
        background-color: variables.$secondaryBg;
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        padding: 40px 30px;
        margin: 15px 0;
        transition: all 0.3s ease;
        cursor: pointer;
        // &:last-child {
        //     margin: 0 auto;
        // }
        &:hover,
        &:focus {
            background-color: variables.$tertinary;
            color: variables.$primaryBg;
        }
        i {
            font-size: 4rem;
            padding-bottom: 45px;
        }
        p {
            font-size: 1rem;
            // color: variables.$tertinary;
        }
    }
    .htmlSkill {
        i {
            color: variables.$htmlColor;
        }
    }
    .cssSkill {
        i {
            color: variables.$cssColor;
        }
    }
    .sassSkill {
        i {
            color: variables.$sassColor;
        }
    }
    .bootstrapSkill {
        i {
            color: variables.$bootstraoColor;
        }
    }
    .jsSkill {
        i {
            color: variables.$jsColor;
        }
    }
    .reactSkill {
        i {
            color: variables.$reactColor;
        }
    }
    .jquerySkill {
        i {
            color: variables.$cssColor;
        }
    }
    .gitSkill {
        i {
            color: variables.$gitColor;
        }
    }
    .wordpressSkill {
        i {
            color: variables.$wordpressColor;
        }
    }
    .mobile {
        text-align: center;
       
    }
} 