
// COLORS
$primaryBg: #3d3e42;
$secondaryBg: #31333b;
$navFontColor: #abacb0;
$fontColor: #f9f9f9;
// $tertinary: #ffc86b;
$tertinary: #04c2c9;
// $tertinary:#ff5722;
$navBgcolor: #34353ad5;
$htmlColor: #e34f26;
$cssColor: #15499c;
$sassColor: #F06292;
$bootstraoColor: #673AB7;
$jsColor: #f7df1e;
$reactColor: #00d8ff;
$gitColor: #F4511E;
$wordpressColor: #21759b;

// FONT
$font: 'Roboto', sans-serif;