

// COLORS
// $primaryBg: #34353A;
$primaryBg: #3d3e42;
$secondaryBg: #31333b;
$navFontColor: #abacb0;
$fontColor: #f9f9f9;
// $tertinary: #ffc86b;
$tertinary: #04c2c9;
// $tertinary:#ff5722;
$navBgcolor: #34353ad5;

// FONT
$font: 'Roboto', sans-serif;