@use "./variables";

// 1080px and under
@media (max-width: 1080px) {
    .wrapper {
        width: 85%;
    }
    .mySkills {
        .boxEl {
            padding: 30px 30px;
        }
    }
    .contactMe {   
        .contactHrContainer {
            p {
            width: 30%;
            }
        }
    }
}