html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background-color: #3d3e42;
  color: #f9f9f9;
  font-size: 1rem;
  padding: 10px 0;
  text-decoration: none;
  margin: 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.backdrop,
.backdropModal {
  background-color: rgba(49, 51, 59, 0.8274509804);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 8;
  display: none;
}

.backdrop.visibleBackdrop,
.backdropModal.visibleBackdropModal {
  display: unset;
}

.backdropModal {
  background-color: rgba(49, 51, 59, 0.8274509804);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 8;
  display: none;
}

.mainContainer {
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: normal;
  color: #f9f9f9;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 2px;
  margin: 0;
}

.collapsibleMenu {
  background-color: rgba(52, 53, 58, 0.8352941176);
  width: 100%;
  position: fixed;
  z-index: 9;
}
.collapsibleMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 60px;
}

.flexNav {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexNav li {
  margin-right: 30px;
}
.flexNav li a {
  color: #abacb0;
  padding: 5px;
  font-size: 1.33rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flexNav li a:hover, .flexNav li a:focus {
  color: #f9f9f9;
}

.hamburgerMenu {
  visibility: hidden;
  margin: 0;
}

@media (max-width: 768px) {
  .mainHeader .wrapper {
    width: 100%;
  }
  .logo {
    visibility: visible;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 15;
  }
  .logo img {
    width: 50px;
  }
  .collapsibleMenu .menu {
    width: 50%;
  }
  .collapsibleMenu .menu .hamburgerMenu {
    width: 100%;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(52, 53, 58, 0.8352941176);
    color: #FFF;
    position: fixed;
    cursor: pointer;
    z-index: 12;
    top: 0px;
    left: 0px;
  }
  .collapsibleMenu .menu .hamburgerMenu i {
    padding: 20px;
  }
  .collapsibleMenu .menu .hamburgerMenu .fa-solid {
    font-size: 40px;
    z-index: 12;
  }
  .collapsibleMenu .menu .hamburgerMenu .fa-x {
    z-index: 12;
  }
  .collapsibleMenu .menu .hamburgerMenu p {
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 20px;
    color: #FFF;
  }
  .flexNav {
    background-color: rgba(52, 53, 58, 0.8352941176);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0;
    left: -400px;
    width: 50%;
    height: 100vh;
    z-index: 10;
    margin: 0;
    padding-top: 100px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .flexNav li {
    width: 100%;
    margin: 0;
  }
  .flexNav li a {
    line-height: 80px;
    color: #04c2c9;
  }
  .showFlexNav {
    left: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
.mainHeader {
  width: 100%;
  height: 100vh;
  background-color: #3d3e42;
}
.mainHeader .headerContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainHeader .headerContainer .headerTxtContainer {
  width: 70%;
}
.mainHeader .headerContainer .headerTxtContainer h1 {
  font-size: 2.5rem;
  line-height: 120px;
}
.mainHeader .headerContainer .headerTxtContainer span {
  color: #04c2c9;
  font-size: 4.5rem;
}
.mainHeader .headerContainer .headerTxtContainer p {
  font-size: 2rem;
}
.mainHeader .headerSocialMedia {
  position: absolute;
  right: 0;
  bottom: 0;
}
.mainHeader .headerSocialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainHeader .headerSocialMedia ul::before {
  content: "";
  border-left: 4px solid #04c2c9;
  height: 50%;
  position: absolute;
  bottom: 260px;
}
.mainHeader .headerSocialMedia ul li {
  padding-bottom: 20px;
}
.mainHeader .headerSocialMedia ul li a {
  color: #abacb0;
  font-size: 1.5rem;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mainHeader .headerSocialMedia ul li a:hover, .mainHeader .headerSocialMedia ul li a:focus {
  color: #f9f9f9;
}

.aboutMe {
  width: 100%;
  background-color: #31333b;
  padding: 50px 0;
}
.aboutMe h2 {
  padding: 50px 0 100px;
}
.aboutMe .box {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}
.aboutMe .box:nth-child(even) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.aboutMe .box.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.aboutMe .aboutTxtContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutMe .aboutTxtContainer p:first-child {
  border-top: 3px solid #04c2c9;
  width: 15%;
  margin: 15px 15px 0 0;
}
.aboutMe span {
  color: #04c2c9;
}

.portfolio {
  width: 100%;
  background: #31333b;
  padding-bottom: 50px;
}
.portfolio h2 {
  padding: 100px 0 50px;
}
.portfolio .portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 940px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.portfolio .portfolioContainer .projectContainerWorldCuisine {
  background-image: url("../../../assets/portfolioImg/worldCuisineSmall.webp");
}
.portfolio .portfolioContainer .projectContainerOntarioWeather {
  background-image: url("../../../assets/portfolioImg/ontarioWeather.webp");
}
.portfolio .portfolioContainer .projectContainerCoaching {
  background-image: url("../../../assets/portfolioImg/coachingImg.webp");
}
.portfolio .portfolioContainer .projectContainerMes {
  background-image: url("../../../assets/portfolioImg/mesImg.webp");
}
.portfolio .portfolioContainer .projectContainerWhatDoYouNo {
  background-image: url("../../../assets/portfolioImg/WhatDoYouNo.webp");
}
.portfolio .portfolioContainer .projectContainerInteriorD {
  background-image: url("../../../assets/portfolioImg/interiorDesign.webp");
}
.portfolio .portfolioContainer .projectContainerTravelsWithDrea {
  background-image: url("../../../assets/portfolioImg/Screenshot 2024-04-26 163703.webp");
}
.portfolio .portfolioContainer .projectContainerLifco {
  background-image: url("../../../assets/portfolioImg/lifco.webp");
}
.portfolio .portfolioContainer .projectContainerLifco3DViewer {
  background-image: url("../../../assets/portfolioImg/3DViewer.webp");
}
.portfolio .portfolioContainer .projectContainerCocktails {
  background-image: url("../../../assets/portfolioImg/Cocktails.webp");
}
.portfolio .portfolioContainer .seeMoreProjectsBtn {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #3d3e42;
  background-color: #04c2c9;
  padding: 8px 20px;
  margin: 25px auto;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.portfolio .portfolioContainer .seeMoreProjectsBtn:hover, .portfolio .portfolioContainer .seeMoreProjectsBtn:focus {
  color: #04c2c9;
  background-color: #3d3e42;
}
.portfolio .portfolioContainer::after {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 120px;
  background: #31333b;
}
.portfolio .showAllProjects {
  height: auto !important;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projectContainer {
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 380px;
  margin: 25px auto 0;
  cursor: pointer;
  position: relative;
}
.projectContainer .details {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  background-color: rgba(49, 51, 59, 0.8549019608);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.projectContainer .details h4 {
  text-align: center;
  color: #04c2c9;
  font-size: 1.3rem;
  font-weight: 800;
  padding: 50px 30px 15px;
}
.projectContainer .details p {
  font-size: 1rem;
  font-weight: 800;
  padding: 15px 30px;
}
.projectContainer .details h5 {
  font-size: 1.2rem;
  margin: 10px;
}
.projectContainer .details .madeWith {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.projectContainer .details .madeWith i {
  font-size: 1.3rem;
}
.projectContainer .details button {
  text-align: center;
  color: #3d3e42;
  background-color: #04c2c9;
  padding: 8px 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 25px auto;
  border: none;
  cursor: pointer;
  display: none;
}
.projectContainer .details button:hover, .projectContainer .details button:focus {
  color: #04c2c9;
  background-color: #3d3e42;
}
.projectContainer:hover .details {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.projectContainer:hover .seeMoreBtn {
  display: unset;
}

.contactMe {
  width: 100%;
  background-color: #3d3e42;
  padding: 100px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactMe .contactHrContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactMe .contactHrContainer h2 {
  text-align: center;
}
.contactMe .contactHrContainer p {
  width: 35%;
  border-bottom: 3px solid #04c2c9;
}
.contactMe .contactInfo {
  margin: 100px auto;
  background-color: #04c2c9;
  padding: 0;
}
.contactMe .contactInfo a {
  color: #3d3e42;
  font-size: 1.5rem;
  padding: 21px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contactMe .contactInfo a i {
  font-size: 1.5rem;
  padding: 23px;
}
.contactMe .contactInfo a:hover, .contactMe .contactInfo a:focus {
  color: #04c2c9;
  background-color: #31333b;
}

footer {
  width: 100%;
  background-color: #31333b;
}
footer ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
footer ul p {
  width: 50%;
  border-bottom: 3px solid #04c2c9;
  margin-bottom: 60px;
}
footer ul li a {
  padding: 20px;
  color: #f9f9f9;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer ul li a:hover, footer ul li a:focus {
  color: #04c2c9;
}
footer h4 {
  text-align: center;
  font-size: 3rem;
  padding: 50px 0 150px;
  color: #04c2c9;
}
footer p {
  text-align: center;
  padding: 30px 0;
  font-size: 1.1rem;
}

@media (max-width: 1500px) {
  .mySkills .skillsEl .boxEl {
    width: 100px;
    min-width: 100px;
    height: 120px;
  }
  .mySkills .skillsEl .boxEl i {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .mySkills .skillsEl .boxEl p {
    font-size: 0.5rem;
  }
  .projectContainer {
    width: 330px !important;
    height: 370px !important;
  }
  .projectContainer p {
    padding: 15px 20px;
  }
}
@media (max-width: 1280px) {
  .projectContainer {
    width: 280px !important;
    height: 350px;
  }
  .projectContainer p {
    padding: 15px !important;
    text-align: center;
  }
}
@media (max-width: 1080px) {
  .wrapper {
    width: 85%;
  }
  .mySkills .skillsEl .boxEl {
    width: 80px;
    min-width: 80px;
    height: 120px;
    padding: 30px 30px;
  }
  .mySkills .skillsEl .boxEl i {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .mySkills .skillsEl .boxEl p {
    font-size: 0.5rem;
  }
  .contactMe .contactHrContainer p {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .portfolio .projectContainer {
    width: calc(50% - 10px) !important;
    height: 350px;
  }
  .portfolio .projectContainer .details h4 {
    font-size: 1.1rem;
    padding-top: 30px;
  }
  .portfolio .projectContainer .details p {
    font-size: 0.8rem !important;
  }
  .portfolio .projectContainer .details h5 {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .wrapper {
    width: 95%;
  }
  .mySkills .skillsEl .boxEl {
    width: 30%;
    padding: 30px 30px;
  }
  .portfolio .projectImgContainer {
    width: 50%;
  }
  .portfolio .projectTxtContainer {
    width: 48%;
  }
  .projectDetailsModal .projectDetailsContainer h2 {
    font-size: 2rem !important;
  }
  .projectDetailsModal .projectDetailsContainer p {
    font-size: 1rem;
    padding: 30px !important;
  }
}
@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  .wrapper {
    width: 98%;
  }
  .mainHeader .headerContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainHeader .headerContainer .headerTxtContainer {
    width: 100%;
    padding-left: 2%;
  }
  .mySkills .skillsEl h2 {
    padding: 50px 0 30px !important;
  }
  .mySkills .skillsEl .rowOne {
    width: 100%;
    padding-bottom: 50px;
  }
  .mySkills .skillsEl .rowOne .skillsRowOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mySkills .skillsEl .rowOne .skillsRowTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mySkills .skillsEl .boxEl {
    width: 50px;
    min-width: 50px;
    height: 100px;
  }
  .mySkills .skillsEl .boxEl i {
    font-size: 2rem;
    padding-bottom: 15px;
  }
  .mySkills .skillsEl .boxEl p {
    font-size: 0.35rem;
  }
  .projectDetailsModal .projectDetailsContainer h2 {
    font-size: 1.5rem !important;
  }
  .projectDetailsModal .projectDetailsContainer p {
    font-size: 1rem;
  }
  .contactMe .contactInfo a {
    font-size: 1.2rem;
  }
  .contactMe .contactInfo a i {
    font-size: 1.2rem;
  }
  footer p {
    font-size: 1rem;
  }
}
@media (max-width: 610px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
  }
  .mainHeader .headerContainer .headerTxtContainer h1 {
    font-size: 2rem;
  }
  .mainHeader .headerContainer .headerTxtContainer span {
    font-size: 4rem;
  }
  .mainHeader .headerContainer .headerTxtContainer p {
    font-size: 1.7rem;
  }
  .mainHeader .headerSocialMedia {
    right: 7px;
  }
  .aboutMe h2 {
    padding: 50px 0;
  }
  .portfolio {
    width: 100%;
    background: #31333b;
  }
  .portfolio .projectContainer {
    width: 95% !important;
  }
  .portfolio h2 {
    padding: 50px 0 25px;
  }
  .portfolio h3 {
    padding-bottom: 20px;
  }
  .projectDetailsModal {
    width: 100vw !important;
    left: unset !important;
  }
  .projectDetailsModal .exitButton i {
    font-size: 1.5rem !important;
  }
  .projectDetailsModal .projectDetailsContainer p {
    text-align: center;
    line-height: 150%;
    padding: 1rem !important;
  }
  .contactMe .contactHrContainer p {
    width: 25%;
    border-bottom: 3px solid #04c2c9;
  }
  .contactMe .contactInfo a {
    font-size: 1.1rem;
  }
  .contactMe .contactInfo a i {
    font-size: 1.1rem;
  }
  footer h4 {
    font-size: 2.5rem;
  }
  footer p {
    font-size: 0.85rem;
  }
}
@media (max-width: 490px) {
  h2 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1rem;
  }
  .flexNav {
    width: 60%;
  }
  .flexNav li a {
    font-size: 1.2rem;
  }
  .mainHeader .headerContainer .headerTxtContainer h1 {
    font-size: 1.2rem;
  }
  .mainHeader .headerContainer .headerTxtContainer span {
    font-size: 3rem;
  }
  .mainHeader .headerContainer .headerTxtContainer p {
    width: 23ch;
    font-size: 1.1rem;
  }
  .mainHeader .headerSocialMedia {
    right: 5px;
    bottom: -20px;
  }
  .mainHeader .headerSocialMedia ul::before {
    height: 30%;
  }
  .mainHeader .headerSocialMedia ul li a {
    font-size: 1.1rem;
  }
  .mySkills .skillsEl .boxEl {
    width: 50px;
    min-width: 50px;
    height: 100px;
  }
  .mySkills .skillsEl .boxEl i {
    font-size: 2rem;
    padding-bottom: 15px;
  }
  .mySkills .skillsEl .boxEl p {
    font-size: 0.3rem;
  }
  .projectDetailsModal .exitButton {
    top: 10px !important;
    right: 10px !important;
  }
  .projectDetailsModal .projectDetailsContainer h2 {
    font-size: 1.5rem !important;
    padding-top: 30px;
  }
  .projectDetailsModal .projectDetailsContainer p {
    font-size: 0.9rem;
  }
  .contactMe .contactHrContainer p {
    width: 21%;
    border-bottom: 3px solid #04c2c9;
  }
  .contactMe .contactInfo a {
    font-size: 0.8rem;
  }
  .contactMe .contactInfo a i {
    font-size: 0.9rem;
    padding: 20px 10px;
  }
  footer ul li {
    padding: 10px;
  }
  footer ul li a {
    padding: 10px;
    font-size: 1.2rem;
  }
  footer h4 {
    font-size: 2rem;
    line-height: 50px;
  }
  footer p {
    font-size: 0.5rem;
  }
}
.mySkills {
  width: 100%;
  background-color: #3d3e42;
}
.mySkills .skillsEl {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}
.mySkills .skillsEl h2 {
  padding: 50px 0 100px;
}
.mySkills .skillsEl .rowOne {
  width: 100%;
  padding-bottom: 50px;
}
.mySkills .skillsEl .rowOne .skillsRowOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mySkills .skillsEl .rowOne .skillsRowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mySkills .boxEl {
  background-color: #31333b;
  width: 140px;
  min-width: 140px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding: 40px 30px;
  margin: 15px 5px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  cursor: pointer;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.mySkills .boxEl:hover, .mySkills .boxEl:focus {
  background-color: #04c2c9;
  color: #3d3e42;
}
.mySkills .boxEl:hover .fa-react, .mySkills .boxEl:focus .fa-react {
  color: #3d3e42;
}
.mySkills .boxEl i {
  font-size: 2rem;
  padding-bottom: 25px;
}
.mySkills .boxEl p {
  font-size: 0.7rem;
}
.mySkills .showBoxEl {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.mySkills .htmlSkill i {
  color: #e34f26;
}
.mySkills .cssSkill {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mySkills .cssSkill i {
  color: #15499c;
}
.mySkills .sassSkill {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.mySkills .sassSkill i {
  color: #F06292;
}
.mySkills .bootstrapSkill {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.mySkills .bootstrapSkill i {
  color: #673AB7;
}
.mySkills .jsSkill {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.mySkills .jsSkill i {
  color: #f7df1e;
}
.mySkills .reactSkill {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.mySkills .reactSkill i {
  color: #00d8ff;
}
.mySkills .angularSkill {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.mySkills .angularSkill i {
  color: #c4002b;
}
.mySkills .typeScriptSkill {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.mySkills .jquerySkill {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.mySkills .jquerySkill i {
  color: #15499c;
}
.mySkills .dotNetSkill {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mySkills .dotNetSkill i {
  color: #15499c;
}
.mySkills .cSkill {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.mySkills .cSkill i {
  color: #15499c;
}
.mySkills .wordpressSkill {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.mySkills .wordpressSkill i {
  color: #21759b;
}
.mySkills .gitSkill {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.mySkills .gitSkill i {
  color: #F4511E;
}
.mySkills .firebase {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.mySkills .firebase i {
  color: #F4511E;
}
.mySkills .mobile {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  text-align: center;
}
.mySkills .accessibility {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  text-align: center;
}

.projectDetailsModal {
  width: 70vw;
  height: auto;
  background-color: #f9f9f9;
  position: fixed;
  top: 25%;
  left: 15%;
  z-index: 1000;
  visibility: hidden;
}
.projectDetailsModal .exitButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
.projectDetailsModal .exitButton i {
  font-size: 1.7rem;
  color: #04c2c9;
}
.projectDetailsModal .exitButton:hover i {
  color: #F00;
}
.projectDetailsModal .projectDetailsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectDetailsModal .projectDetailsContainer h2 {
  color: #3d3e42;
  font-size: 2.5rem;
  margin: 50px 10px 15px;
}
.projectDetailsModal .projectDetailsContainer p {
  color: #3d3e42;
  padding: 3rem;
}
.projectDetailsModal .projectDetailsContainer .projectButtonContainer {
  margin-bottom: 50px;
}
.projectDetailsModal .projectDetailsContainer .projectButtonContainer a {
  color: #3d3e42;
  background-color: #04c2c9;
  padding: 5px 30px 5px 5px;
  margin-right: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
.projectDetailsModal .projectDetailsContainer .projectButtonContainer a i {
  padding-left: 25px;
  padding-right: 5px;
}
.projectDetailsModal .projectDetailsContainer .projectButtonContainer a:first-child {
  padding-left: 30px;
}
.projectDetailsModal .projectDetailsContainer .projectButtonContainer a:hover, .projectDetailsModal .projectDetailsContainer .projectButtonContainer a:focus {
  color: #04c2c9;
  background-color: #3d3e42;
}
.projectDetailsModal .projectDetailsContainer .projectButtonContainer a.buttonDisabled {
  color: #04c2c9;
  background-color: #3d3e42;
}
.projectDetailsModal .projectDetailsContainer .projectButtonContainer a.buttonDisabled:hover,
.projectDetailsModal .projectDetailsContainer .projectButtonContainer a.buttonDisabled:focus {
  cursor: not-allowed;
}

.visible {
  visibility: visible;
}