html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background-color: #3d3e42;
  color: #f9f9f9;
  font-size: 1rem;
  padding: 10px 0;
  text-decoration: none;
  margin: 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: normal;
  color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 2px;
  margin: 0;
}

.collapsibleMenu {
  background-color: rgba(52, 53, 58, 0.8352941176);
  width: 100%;
  position: fixed;
  z-index: 9;
}
.collapsibleMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 60px;
}

.flexNav {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexNav li {
  margin-right: 30px;
}
.flexNav li a {
  color: #abacb0;
  padding: 5px;
  font-size: 1.33rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flexNav li a:hover, .flexNav li a:focus {
  color: #f9f9f9;
}

.hamburgerMenu {
  visibility: hidden;
  margin: 0;
}

@media (max-width: 768px) {
  .mainHeader .wrapper {
    width: 100%;
  }
  .logo {
    visibility: visible;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 15;
  }
  .logo img {
    width: 50px;
  }
  .collapsibleMenu .menu {
    width: 50%;
  }
  .collapsibleMenu .menu .hamburgerMenu {
    width: 100%;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(52, 53, 58, 0.8352941176);
    color: #FFF;
    position: fixed;
    cursor: pointer;
    z-index: 12;
    top: 0px;
    left: 0px;
  }
  .collapsibleMenu .menu .hamburgerMenu i {
    padding: 20px;
  }
  .collapsibleMenu .menu .hamburgerMenu .fa-solid {
    font-size: 40px;
    z-index: 12;
  }
  .collapsibleMenu .menu .hamburgerMenu .fa-x {
    z-index: 12;
  }
  .collapsibleMenu .menu .hamburgerMenu p {
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 20px;
    color: #FFF;
  }
  .flexNav {
    background-color: rgba(52, 53, 58, 0.8352941176);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0;
    left: -400px;
    width: 50%;
    height: 100vh;
    z-index: 10;
    margin: 0;
    padding-top: 100px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .flexNav li {
    width: 100%;
    margin: 0;
  }
  .flexNav li a {
    line-height: 80px;
    color: #04c2c9;
  }
  .showFlexNav {
    left: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
.mainHeader {
  width: 100%;
  height: 100vh;
  background-color: #3d3e42;
}
.mainHeader .headerContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainHeader .headerContainer .headerTxtContainer {
  width: 70%;
}
.mainHeader .headerContainer .headerTxtContainer h1 {
  font-size: 2.5rem;
  line-height: 120px;
}
.mainHeader .headerContainer .headerTxtContainer span {
  color: #04c2c9;
  font-size: 4.5rem;
}
.mainHeader .headerContainer .headerTxtContainer p {
  font-size: 2rem;
}
.mainHeader .headerSocialMedia {
  position: absolute;
  right: 0;
  bottom: 0;
}
.mainHeader .headerSocialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainHeader .headerSocialMedia ul::before {
  content: "";
  border-left: 4px solid #04c2c9;
  height: 50%;
  position: absolute;
  bottom: 260px;
}
.mainHeader .headerSocialMedia ul li {
  padding-bottom: 20px;
}
.mainHeader .headerSocialMedia ul li a {
  color: #abacb0;
  font-size: 1.5rem;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mainHeader .headerSocialMedia ul li a:hover, .mainHeader .headerSocialMedia ul li a:focus {
  color: #f9f9f9;
}

.aboutMe {
  width: 100%;
  background-color: #31333b;
  padding: 50px 0;
}
.aboutMe h2 {
  padding: 50px 0 100px;
}
.aboutMe .box {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}
.aboutMe .box:nth-child(even) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.aboutMe .box.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.aboutMe .aboutTxtContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutMe .aboutTxtContainer p:first-child {
  border-top: 3px solid #04c2c9;
  width: 15%;
  margin: 15px 15px 0 0;
}
.aboutMe span {
  color: #04c2c9;
}

.portfolio {
  width: 100%;
  background: #31333b;
}
.portfolio h2 {
  padding: 100px 0 50px;
}
.portfolio .projectOne,
.portfolio .projectTwo,
.portfolio .projectThree,
.portfolio .projectFour,
.portfolio .projectFive,
.portfolio .projectSix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 150px;
}
.portfolio .projectOne .projectImgContainer,
.portfolio .projectThree .projectImgContainer,
.portfolio .projectFive .projectImgContainer {
  margin-right: 2%;
}
.portfolio .projectImgContainer {
  width: 52%;
}
.portfolio .projectImgContainer img {
  width: 100%;
}
.portfolio .projectTxtContainer {
  width: 43%;
}
.portfolio .projectTxtContainer h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.portfolio .projectTxtContainer h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.portfolio .projectTxtContainer p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.portfolio .projectTxtContainer a {
  color: #3d3e42;
  background-color: #04c2c9;
  padding: 5px 30px 5px 5px;
  margin-right: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.portfolio .projectTxtContainer a i {
  padding-left: 25px;
  padding-right: 5px;
}
.portfolio .projectTxtContainer a:first-child {
  padding-left: 30px;
}
.portfolio .projectTxtContainer a:hover, .portfolio .projectTxtContainer a:focus {
  color: #04c2c9;
  background-color: #3d3e42;
}
.portfolio .projectTxtContainer a.buttonDisabled {
  color: #04c2c9;
  background-color: #3d3e42;
}
.portfolio .projectTxtContainer a.buttonDisabled:hover,
.portfolio .projectTxtContainer a.buttonDisabled:focus {
  cursor: not-allowed;
}
.portfolio .projectTxtContainer .madeWith {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 20px;
}
.portfolio .projectTxtContainer .madeWith i {
  font-size: 1.5rem;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio .projectTxtContainer .madeWith i:hover, .portfolio .projectTxtContainer .madeWith i:focus {
  color: #abacb0;
}

.contactMe {
  width: 100%;
  background-color: #3d3e42;
  padding: 100px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactMe .contactHrContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactMe .contactHrContainer h2 {
  text-align: center;
}
.contactMe .contactHrContainer p {
  width: 35%;
  border-bottom: 3px solid #04c2c9;
}
.contactMe .contactInfo {
  margin: 100px auto;
  background-color: #04c2c9;
  padding: 0;
}
.contactMe .contactInfo a {
  color: #3d3e42;
  font-size: 1.5rem;
  padding: 21px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contactMe .contactInfo a i {
  font-size: 1.5rem;
  padding: 23px;
}
.contactMe .contactInfo a:hover, .contactMe .contactInfo a:focus {
  color: #04c2c9;
  background-color: #31333b;
}

footer {
  width: 100%;
  background-color: #31333b;
}
footer ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
footer ul p {
  width: 50%;
  border-bottom: 3px solid #04c2c9;
  margin-bottom: 60px;
}
footer ul li a {
  padding: 20px;
  color: #f9f9f9;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer ul li a:hover, footer ul li a:focus {
  color: #04c2c9;
}
footer h4 {
  text-align: center;
  font-size: 3rem;
  padding: 50px 0 150px;
  color: #04c2c9;
}
footer p {
  text-align: center;
  padding: 30px 0;
  font-size: 1.1rem;
}

@media (max-width: 1080px) {
  .wrapper {
    width: 85%;
  }
  .mySkills .boxEl {
    padding: 30px 30px;
  }
  .contactMe .contactHrContainer p {
    width: 30%;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .wrapper {
    width: 95%;
  }
  .mySkills .skillsEl .boxEl {
    width: 31%;
    padding: 30px 30px;
  }
  .mySkills .skillsEl .boxEl:last-child {
    margin: 0;
  }
  .portfolio .projectImgContainer {
    width: 50%;
  }
  .portfolio .projectTxtContainer {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 98%;
  }
  .mainHeader .headerContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainHeader .headerContainer .headerTxtContainer {
    width: 100%;
    padding-left: 2%;
  }
  .mySkills .skillsEl .boxEl i {
    font-size: 2.8rem;
    padding-bottom: 35px;
  }
  .mySkills .skillsEl .boxEl p {
    font-size: 0.9rem;
  }
  .portfolio .projectOne,
.portfolio .projectThree,
.portfolio .projectFive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 70px;
  }
  .portfolio .projectTwo,
.portfolio .projectFour,
.portfolio .projectSix {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .portfolio .projectImgContainer {
    width: 95%;
    margin: 0 auto;
  }
  .portfolio .projectTxtContainer {
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .contactMe .contactInfo a {
    font-size: 1.2rem;
  }
  .contactMe .contactInfo a i {
    font-size: 1.2rem;
  }
  footer p {
    font-size: 1rem;
  }
}
@media (max-width: 610px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
  }
  .mainHeader .headerContainer .headerTxtContainer h1 {
    font-size: 2rem;
  }
  .mainHeader .headerContainer .headerTxtContainer span {
    font-size: 4rem;
  }
  .mainHeader .headerContainer .headerTxtContainer p {
    font-size: 1.7rem;
  }
  .mainHeader .headerSocialMedia {
    right: 7px;
  }
  .aboutMe h2 {
    padding: 50px 0;
  }
  .mySkills .skillsEl .boxEl {
    width: 31%;
    padding: 30px 30px;
  }
  .portfolio {
    width: 100%;
    background: #3d3e42;
  }
  .portfolio h3 {
    padding-bottom: 20px;
  }
  .contactMe .contactHrContainer p {
    width: 25%;
    border-bottom: 3px solid #04c2c9;
  }
  .contactMe .contactInfo a {
    font-size: 1.1rem;
  }
  .contactMe .contactInfo a i {
    font-size: 1.1rem;
  }
  footer h4 {
    font-size: 2.5rem;
  }
  footer p {
    font-size: 0.85rem;
  }
}
@media (max-width: 490px) {
  h2 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1rem;
  }
  .flexNav {
    width: 60%;
  }
  .flexNav li a {
    font-size: 1.2rem;
  }
  .mainHeader .headerContainer .headerTxtContainer h1 {
    font-size: 1.2rem;
  }
  .mainHeader .headerContainer .headerTxtContainer span {
    font-size: 3rem;
  }
  .mainHeader .headerContainer .headerTxtContainer p {
    width: 23ch;
    font-size: 1.1rem;
  }
  .mainHeader .headerSocialMedia {
    right: 5px;
    bottom: -20px;
  }
  .mainHeader .headerSocialMedia ul::before {
    height: 30%;
  }
  .mainHeader .headerSocialMedia ul li a {
    font-size: 1.1rem;
  }
  .mySkills .skillsEl .boxEl {
    width: 49%;
    padding: 30px 30px;
  }
  .mySkills .skillsEl .boxEl:last-child {
    margin: 0 auto;
  }
  .mySkills .skillsEl .boxEl i {
    font-size: 2.5rem;
    padding-bottom: 25px;
  }
  .mySkills .skillsEl .boxEl p {
    font-size: 0.9rem;
  }
  .portfolio .projectOne,
.portfolio .projectThree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
  .portfolio .projectTxtContainer h3 {
    font-size: 1.3rem;
  }
  .portfolio .projectTxtContainer p {
    font-size: 0.9rem;
  }
  .portfolio .projectTxtContainer a {
    padding: 5px 20px 5px 5px;
    margin-right: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .portfolio .projectTxtContainer a i {
    padding-left: 15px;
    padding-right: 5px;
  }
  .contactMe .contactHrContainer p {
    width: 21%;
    border-bottom: 3px solid #04c2c9;
  }
  .contactMe .contactInfo a {
    font-size: 0.8rem;
  }
  .contactMe .contactInfo a i {
    font-size: 0.9rem;
    padding: 20px 10px;
  }
  footer ul li {
    padding: 10px;
  }
  footer ul li a {
    padding: 10px;
    font-size: 1.2rem;
  }
  footer h4 {
    font-size: 2rem;
    line-height: 50px;
  }
  footer p {
    font-size: 0.5rem;
  }
}
.mySkills {
  width: 100%;
  background-color: #3d3e42;
}
.mySkills .skillsEl {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}
.mySkills .skillsEl h2 {
  padding: 50px 0 100px;
}
.mySkills .skillsEl .rowOne {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}
.mySkills .boxEl {
  background-color: #31333b;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding: 40px 30px;
  margin: 15px 0;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  cursor: pointer;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.mySkills .boxEl:hover, .mySkills .boxEl:focus {
  background-color: #04c2c9;
  color: #3d3e42;
}
.mySkills .boxEl:hover .fa-react, .mySkills .boxEl:focus .fa-react {
  color: #3d3e42;
}
.mySkills .boxEl i {
  font-size: 4rem;
  padding-bottom: 45px;
}
.mySkills .boxEl p {
  font-size: 1rem;
}
.mySkills .showBoxEl {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.mySkills .htmlSkill i {
  color: #e34f26;
}
.mySkills .cssSkill {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mySkills .cssSkill i {
  color: #15499c;
}
.mySkills .sassSkill {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.mySkills .sassSkill i {
  color: #F06292;
}
.mySkills .bootstrapSkill {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.mySkills .bootstrapSkill i {
  color: #673AB7;
}
.mySkills .jsSkill i {
  color: #f7df1e;
}
.mySkills .reactSkill {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mySkills .reactSkill i {
  color: #00d8ff;
}
.mySkills .jquerySkill {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.mySkills .jquerySkill i {
  color: #15499c;
}
.mySkills .gitSkill {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.mySkills .gitSkill i {
  color: #F4511E;
}
.mySkills .mobile {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  text-align: center;
}
.mySkills .accessibility {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  text-align: center;
}
.mySkills .wordpressSkill {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.mySkills .wordpressSkill i {
  color: #21759b;
}